body {
  background-color: #D3D3D3;
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {			
    text-decoration: none;	
    color: #14BAE4;
}		
 		
a:hover {		
    color: #0A5D72;		
}

a:visited {
  color: #052E39;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

h1 {
  font-family: fantasy;
  color: orange;
  font-size: 36px;
}

p {
  font-family: system-ui;
  color: green;
  font-size: 26px;
}
