body {
  background-color: #D3D3D3;
  font-family: 'Ubuntu', sans-serif;
  font-size: 36px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {			
    text-decoration: none;	
    color: #14BAE4;
}		
 		
a:hover {		
    color: #0A5D72;		
}

a:visited {
  color: #052E39;
}
